<div class="container">
    <table class="table table-striped table-dark empTable">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Dept</th>
          <th scope="col">City</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{emp.EmployeeID}}</td>
          <td>{{emp.FirstName}}</td>
          <td>{{emp.LastName}}</td>
          <td>{{emp.Dept}}</td>
          <td>{{emp.City}}</td>
          <td>{{emp.Email}}</td>
        </tr>
      </tbody>
    </table>
  </div>